{% extends 'backBase.html.twig' %}

{% block title %}New Blog{% endblock %}

{% block body %}
    <h1>Create new Blog</h1>

    {{ include('blog/_form.html.twig') }}

<button class="btn btn-info btn-xs" style="position:absolute;top:80px;right:2%;"><a class="fa fa-home" href="{{ path('app_blog_index') }}"> back to list
                   </a> </button>
                   {% endblock %}
