<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet'>
        {% block stylesheets %}
       <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
        {% endblock %}

      
    </head>
    <body>
        {% block body %}{% endblock %}
          {% block javascripts %}
        <script src="//code.jquery.com/jquery.js"></script>
         <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
        
        {% endblock %}
           {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
    </body>
</html>
