<div class="card text-center">
    <div class="card-header">
        {{ header }}
    </div>
    <div class="card-body">
        <p class="card-text">{{ text }}</p>
        <a href="#" class="btn btn-primary {{ buttonClass }}">{{ buttonText }}</a>
    </div>
</div>